{% extends "base.html" %}
{% load static %}


{% block title %}<title>Детально</title>{% endblock title %}
{% block style %}<link rel="stylesheet" href="{% static "colorpage/css/stylecolorpage.css" %}"  type="text/css">{% endblock %}

{#{% block header %}<header class="headertwo">Header</header>{% endblock header %}#}
{% block content %}
    <style>
    .headertwo{

        background-color: #00d5c3 !important;

    </style>
    <main class="main">
        <section class="content">
            <div class="row">
                <div class="col col1"><!--Upper Left-->
                    <ul>
{#                        <li class="cate-decor"><a href="{% url 'colorpage:changecolor' %}">Все</a></li>#}
{#                        {% for category in categories %}#}
{#                            <li class="cate-decor">#}
{#                                <a href="{{ category.get_absolute_url }}">#}
{#                                    {{ category.name }}</a>#}
{#                            </li>#}
{#                        {% endfor %}#}
                    </ul>
                </div>
                <div class="col col2"><!--Upper Middle 2222-->
                    <div class="main-grid">
                        <div><img  class="main-grid-image" src="{{ MEDIA_URL }}{{ product.0.image }}" alt="" width="100" height="100"></div>
                        <div>{{ product.0.cpu }}</div>
                        <div>{{ product.0.display.label }}:{{ product.0.display}}</div>
                        <div>{{ product.0.name }}</div>
                        <div>{{ product.0.memory }}</div>
                        <div>{{ product.0.description}}</div>

                        <div>{{ product.0.video_memory }}</div>
                        <div>{{ promo }}</div>

                        <table>
                            {% for label, value in object.get_fields %}
                                <tr>
                                    <td>{{ label }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </table>
{#                        {% for product in product %}#}
{#                            <div class="child-grid">#}
{#                                <div class="main-grid-id">id: {{ product.id }}</div>#}
{#                                <div class="main-grid-name">name: {{ product.name|slice:":10" }}</div>#}
{#                                <div><img  class="main-grid-image" src="{{ MEDIA_URL }}{{ product.image }}" alt="" width="100" height="100"></div>#}
{#                            </div>#}
{#                        {% endfor %}#}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}

{% block footer %}<footer class="footertwo">Footer</footer>{% endblock footer %}